@import 'defaults.scss';
@import 'variables.scss';
@import 'mixins.scss';

.g-title {
  font-size: 40px;
  padding: 30px 0;
  color: var(--colorText);

  &.center {
    text-align: center;
  }

  @include notDesktop {
    font-size: 30px;
  }
}

.g-subtitle {
  font-size: 30px;
  padding: 30px 0;
  color: var(--colorText2);

  &.center {
    text-align: center;
  }

  @include notDesktop {
    font-size: 30px;
  }
}

.g-wrapper {
  max-width: $breakpoint;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

/*🪄 Animations*/
[reveal] {
  opacity: 0;
  transform: translateY(25px);
}

[revealed] {
  opacity: 1;
  transform: translateY(0);
}
